/*********************Globals*********************/
:root {
  --bg-color-1: #2b2c2c;
  --bg-color-2: #303131;
  --primary-color: #feb634;
  --text-color-1: #cccccc;
  --text-color-2: #9f9f9f;
  --white: #fff;
  --black: #000000;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
}

/****Background****/

section:nth-child(odd) {
  background-color: var(--bg-color-1);
}

section:nth-child(even) {
  background-color: var(--bg-color-2);
}

.container {
  padding: 20px 15px;
  margin: 0 auto;
}

/****Typograpghy****/
h1,
h2,
h3,
h4,
h5 {
  color: var(--text-color-1);
}

p {
  color: var(--text-color-2);
}

/****Buttons****/
.btn {
  padding: 1.2rem 4.2rem;
  vertical-align: middle;
  cursor: pointer;
  font-size: 1.25rem;
  text-decoration: none;
  text-transform: capitalize;
  text-align: center;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--white);
  border: 2px solid var(--primary-color);
  border-radius: 4px;
  letter-spacing: 1.6px;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

.btn-primary-outline {
  background-color: var(--bg-color-2);
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: 4px;
  letter-spacing: 1.6px;
}

/*********************Navigation*********************/
.page__header {
  padding-bottom: 15px;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  border-bottom: 2px solid var(--bg-color-);
}

.hamburger:hover .bar {
  background: var(--primary-color);
}

.bar {
  width: 30px;
  height: 2px;
  margin: 8px;
  background: #999999;
}

.nav-list {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  padding: 0 1rem;
  list-style: none;
}

.nav-list__item {
  padding-bottom: 10px;
}

.nav-item__link {
  color: var(--white);
  font-weight: 500;
  font-size: 14px;
  text-shadow: none;
  text-decoration: none;
  line-height: 30px;
  padding-bottom: 0.2rem;
}

.nav-item__link:hover,
.active {
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}

.collapse {
  display: none;
}

@media (min-width: 992px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .hamburger {
    display: none;
  }
  .nav-list {
    display: flex;
    flex-direction: row;
  }
  .nav-item__link {
    margin-left: 3rem;
    font-size: 1rem;
    line-height: 0;
  }
}

/*********************Hero Section*********************/
.hero-container {
  padding-top: 5rem;
}

.hero-container__h1 {
  font-size: 2.9rem;
  color: var(--white);
  font-weight: 600;
  margin-bottom: 5px;
  line-height: 5.5rem;
}

.hero-container__p {
  max-width: 400px;
  font-size: 1.5rem;
  color: #cccccc;
  margin-bottom: 2.2rem;
  line-height: 1.9rem;
}

.hero-container__img {
  max-width: 100%;
  height: auto;
  padding-top: 60px;
}

@media (min-width: 768px) {
  .hero-container {
    display: flex;
    justify-content: space-between;
  }
  .hero-container__left {
    width: 40%;
  }
  .hero-container__right {
    width: 50%;
  }
  .hero-container__img {
    padding-top: 0px;
  }
}

@media (min-width: 992px) {
  .hero-container__h1 {
    padding-top: 30px;
    font-size: 3.5rem;
  }
  .hero-container__p {
    font-size: 1.9rem;
    margin-bottom: 3.2rem;
  }
  .hero-container__right {
    width: 60%;
  }
}

@media (min-width: 1200px) {
  .hero-container__h1 {
    padding-top: 125px;
    font-size: 4.4rem;
  }
  .hero-container__p {
    font-size: 1.5rem;
  }
  .hero-container__right {
    width: 60%;
  }
}

/*********************About Section*********************/

.container__about {
  display: flex;
  flex-direction: column;
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}

.section__about__h1 {
  text-align: center;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1.9rem;
  margin-bottom: 2.2rem;
  padding-bottom: 1.25rem;
}

.section__about__p {
  margin-bottom: 2.2rem;
  font-weight: 400;
  line-height: 1.75rem;
}

.section__about__btns {
  display: flex;
}

.btn-view,
.btn-download {
  padding: 1rem 1.5rem;
  margin-top: 0.7rem;
  font-size: 0.9rem;
}

.btn-view {
  margin-right: 1rem;
}

@media (min-width: 640px) {
  .container__about {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
  }

  .btn-view,
  .btn-download {
    padding: 1.2rem 2.5rem;
    font-size: 1rem;
  }

  .btn-view {
    margin-right: 2rem;
  }
}

@media (min-width: 992px) {
  .container__about {
    flex-direction: row;
    justify-content: center;
  }

  .container__about__left {
    align-self: center;
    width: 40%;
  }

  .container__about__right {
    width: 60%;
  }

  .section__about__h1 {
    font-size: 2.9rem;
  }
}

/*Media queries for width adjustment*/
@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
