/*********************Globals*********************/
:root {
  --bg-color-1: #2b2c2c;
  --bg-color-2: #303131;
  --primary-color: #feb634;
  --text-color-1: #cccccc;
  --text-color-2: #9f9f9f;
  --white: #fff;
  --black: #000000;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
}

/****Background****/

section:nth-child(odd) {
  background-color: var(--bg-color-1);
}

section:nth-child(even) {
  background-color: var(--bg-color-2);
}

.container {
  padding: 20px 15px;
  margin: 0 auto;
}

/****Typograpghy****/
h1,
h2,
h3,
h4,
h5 {
  color: var(--text-color-1);
}

p {
  color: var(--text-color-2);
}

/****Buttons****/
.btn {
  padding: 1.2rem 4.2rem;
  vertical-align: middle;
  cursor: pointer;
  font-size: 1.25rem;
  text-decoration: none;
  text-transform: capitalize;
  text-align: center;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--white);
  border: 2px solid var(--primary-color);
  border-radius: 4px;
  letter-spacing: 1.6px;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

.btn-primary-outline {
  background-color: var(--bg-color-2);
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: 4px;
  letter-spacing: 1.6px;
}

/*********************Navigation*********************/
.page__header {
  padding-bottom: 15px;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  border-bottom: 2px solid var(--bg-color-);
}

.hamburger:hover .bar {
  background: var(--primary-color);
}

.bar {
  width: 30px;
  height: 2px;
  margin: 8px;
  background: #999999;
}

.nav-list {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  list-style: none;
}

.nav-list__item {
  padding-bottom: 10px;
}

.nav-item__link {
  color: var(--white);
  font-weight: 500;
  font-size: 14px;
  text-shadow: none;
  text-decoration: none;
  line-height: 30px;
  padding-bottom: 0.2rem;
}

.nav-item__link:hover,
.active {
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}

.collapse {
  display: none;
}

@media (min-width: 992px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .hamburger {
    display: none;
  }
  .nav-list {
    display: flex;
    flex-direction: row;
  }
  .nav-item__link {
    margin-left: 3rem;
    font-size: 1rem;
    line-height: 0;
  }
}

/*********************Hero Section*********************/
.hero-container {
  padding-top: 5rem;
}

.hero-container__h1 {
  font-size: 2.9rem;
  color: var(--white);
  font-weight: 600;
  margin-bottom: 5px;
  line-height: 5.5rem;
}

.hero-container__p {
  max-width: 400px;
  font-size: 1.5rem;
  color: #cccccc;
  margin-bottom: 2.2rem;
  line-height: 1.9rem;
  border-right: solid 3px var(--primary-color);
  white-space: nowrap;
  overflow: hidden;
  animation: animated-text 3s steps(40, end) 1s 1 normal both,
    animated-cursor 600ms steps(40, end) infinite;
}

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 260px;
  }
}

@keyframes animated-cursor {
  from {
    border-right-color: var(--primary-color);
  }
  to {
    border-right-color: transparent;
  }
}

.btn-hire {
  transition: all 0.3s;
  padding: 1rem 3.5rem;
}

.btn-hire:hover {
  background-color: var(--bg-color-2);
  color: var(--primary-color);
}

.hero-container__img {
  max-width: 100%;
  height: auto;
  padding-top: 60px;
}

@media (min-width: 768px) {
  .hero-container {
    display: flex;
    justify-content: space-between;
  }
  .hero-container__left {
    width: 40%;
  }
  .hero-container__right {
    width: 50%;
  }
  .hero-container__img {
    padding-top: 0px;
  }
}

@media (min-width: 992px) {
  .hero-container__h1 {
    padding-top: 30px;
    font-size: 3.5rem;
  }
  .hero-container__p {
    font-size: 1.9rem;
    margin-bottom: 3.2rem;
  }
  .hero-container__right {
    width: 60%;
  }
}

@media (min-width: 1200px) {
  .hero-container__h1 {
    padding-top: 125px;
    font-size: 4.4rem;
  }
  .hero-container__p {
    font-size: 1.5rem;
  }
  .hero-container__right {
    width: 60%;
  }
}

/*********************About Section*********************/

.container__about {
  display: flex;
  flex-direction: column;
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}

.section__about__h1 {
  text-align: center;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1.9rem;
  margin-bottom: 2.2rem;
  padding-bottom: 1.25rem;
}

.section__about__p {
  margin-bottom: 2.2rem;
  font-weight: 400;
  line-height: 1.75rem;
}

.section__about__btns {
  display: flex;
}

.btn-view,
.btn-download {
  padding: 1rem 1.5rem;
  margin-top: 0.7rem;
  font-size: 0.9rem;
}

.btn-view {
  margin-right: 1rem;
}

@media (min-width: 640px) {
  .container__about {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
  }

  .btn-view,
  .btn-download {
    padding: 1.2rem 2.5rem;
    font-size: 1rem;
  }

  .btn-view {
    margin-right: 2rem;
  }
}

@media (min-width: 992px) {
  .container__about {
    flex-direction: row;
    justify-content: center;
  }

  .container__about__left {
    align-self: center;
    width: 40%;
  }

  .container__about__right {
    width: 60%;
  }

  .section__about__h1 {
    font-size: 2.9rem;
  }
}

/*********************Skills Section*********************/

.container__skills {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}

.section__skills__h1 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 35px;
  padding-bottom: 20px;
}

.section__skills__p {
  align-self: center;
  max-width: 60rem;
  text-align: center;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 40px;
}

.section__skills__boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section__skills__box {
  display: flex;
  max-width: 28rem;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 30px;
}

#box-1 {
  background-image: -webkit-linear-gradient(
    -48deg,
    rgb(36, 226, 254) 0%,
    rgb(36, 176, 254) 54%,
    rgb(35, 126, 253) 100%
  );
}

#box-2 {
  background-image: -webkit-linear-gradient(
    -48deg,
    rgb(255, 211, 36) 0%,
    rgba(254, 187, 36, 0.99) 54%,
    rgba(253, 163, 35, 0.99) 100%
  );
}

#box-3 {
  background-image: -webkit-linear-gradient(
    -48deg,
    rgba(248, 47, 160, 0.99) 0%,
    rgba(214, 54, 208, 0.99) 54%,
    rgba(180, 61, 255, 0.99) 100%
  );
}

#box-4 {
  background-image: -webkit-linear-gradient(
    -48deg,
    rgba(0, 188, 128, 0.99) 0%,
    rgba(2, 204, 71, 0.99) 54%,
    rgba(3, 220, 13, 0.99) 100%
  );
}

.section__skills__box__content {
  padding: 40px;
}

.section__skills__box__h2,
.section__skills__box__p {
  color: var(--white);
}

.section__skills__box__h2 {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 1.5rem;
  font-weight: 600;
}

@media (min-width: 768px) {
  .section__skills_boxes__row {
    display: flex;
  }

  .section__skills__box {
    margin-left: 15px;
    margin-right: 15px;
  }
}

/*********************Projects Section*********************/
.projects__project {
  display: flex;
  flex-direction: column;
}
.project__left {
  order: 1;
  padding: 30px 0px;
}

.project__h1 {
  margin-top: 10px;
  margin-bottom: 25px;
  font-size: 1.5rem;
}

.project__p {
  line-height: 1.7rem;
}

.project__btns {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.btn-live {
  color: rgb(248, 248, 248);
  font-size: 14px;
  padding: 1rem 2rem;
  border-radius: 5px;
}

.repo__img {
  background-color: var(--primary-color);
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  transition: all 0.2s ease 0s;
}

.repo__img:hover {
  transform: scale(1.2);
}

.btn-live {
  margin-right: 1.5rem;
}

.project__right {
  order: 0;
  margin-top: 80px;
}

.project__img {
  width: 100%;
  border-radius: 2px;
}

@media (min-width: 992px) {
  .projects__project {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .project__h1 {
    margin-bottom: 3rem;
  }

  .project__p {
    margin-bottom: 4rem;
  }

  .project__left {
    order: 0;
    margin-right: 5rem;
  }

  .project__right {
    order: 1;
    margin-top: 0;
  }
}

/*********************Contacts Section*********************/
.contacts {
  padding: 50px 0 60px 0;
}
.contacts__h1 {
  margin-bottom: 35px;
  padding-bottom: 20px;
  font-size: 40px;
  text-align: center;
  text-transform: capitalize;
  font-weight: 700;
}

.contacts__h2 {
  margin: 5px 0 30px 0;
  font-size: 20px;
  font-weight: 500;
}

.contact__details {
  list-style: none;
}

.contact__details__item {
  margin-bottom: 37px;
}

.contact__details__item__icon {
  margin-right: 10px;
  color: #727b86;
}

.contact__details__item__text {
  color: #727b86;
  font-weight: 400;
}

.contacts__h5 {
  margin: 20px 0 10px 0;
  font-size: 18px;
  font-weight: 400;
}

.contacts__follow-links {
  list-style: none;
  display: flex;
}

.follow__links__follow__link__img {
  margin-right: 20px;
  color: #727b86;
}

.follow__links__follow__link__img:hover {
  cursor: pointer;
  color: var(--primary-color);
}

.contacts__wrapper-right {
  margin-top: 50px;
}

.contacts__form__field {
  display: flex;
  flex-direction: column;
}

.contacts__form__label {
  margin-bottom: 14px;
  text-transform: uppercase;
  line-height: 20px;
  color: #777777;
}

.contacts__form__input {
  width: 100%;
  margin-bottom: 30px;
  padding: 0 20px;
  color: #777777;
  background-color: #363737;
  font-size: 1rem;
  border: none;
  border-radius: 3px;
  height: 60px;
  box-shadow: 0px 3px 4px 0px rgba(0, 12, 29, 0.06);
  outline: none;
}

.contacts__form__input__message {
  font-family: 'Poppins';
  height: 150px;
  padding-top: 16px;
}

.btn-form {
  margin-top: 10px;
  padding: 16px 28px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 2px;
  text-transform: uppercase;
  box-shadow: none;
}

@media (min-width: 768px) {
  .contacts {
    padding: 115px 0 130px;
  }

  .contacts__wrapper {
    display: flex;
    justify-content: center;
  }

  .contacts__wrapper-left {
    width: 30%;
    padding: 0 15px;
  }

  .contacts__wrapper-right {
    margin-top: 0;
    width: 70%;
    padding: 0 15px;
  }

  .contacts__form__row {
    display: flex;
  }

  .contacts__form__field__phone {
    width: 100%;
    padding-right: 15px;
  }

  .contacts__form__field__email {
    width: 100%;
    padding-left: 15px;
  }
}

/*********************Footer Section*********************/
.footer {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  align-items: center;
}

.footer__p {
  text-align: center;
  font-size: 14px;
  line-height: 32px;
  max-width: 565px;
  margin: 36px 0 42px 0;
}

.footer__follow__links {
  display: flex;
  padding-bottom: 50px;
  list-style: none;
}

.footer__follow__link {
  width: 38px;
  height: 38px;
  line-height: 38px;
  margin-right: 1rem;
  background: #282828;
  text-align: center;
  border-radius: 50%;
}

.footer__follow__link__icon {
  font-size: 14px;
  color: var(--white);
}
.footer__follow__link:hover {
  cursor: pointer;
  background-color: var(--primary-color);
}

.footer__copyright__block {
  color: var(--text-color-1);
  padding: 21px 0;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.copyright__block__name {
  color: var(--primary-color);
}

/*Media queries for width adjustment*/
@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
